__pycache__
.vscode

/runs/*
/venv/*
/dataset/*

/dataset-awgn-ldpc--10db.csv
/dataset-awgn-ldpc--10db-pre-raw.csv
/dataset-awgn-ldpc--10db-pre-raw-train.csv
/dataset-awgn-ldpc--10db-pre-raw-validate.csv
/dataset-conv-length-1.000000db.csv
/dataset-type-1.0db.csv

/torch-1.10.1+cpu-cp37-cp37m-win_amd64.whl
/torch-1.10.1+cpu-cp38-cp38-win_amd64.whl
/torchvision-0.1.8-py2.py3-none-any.whl
/typing_extensions-4.0.1-py3-none-any.whl